@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body{
    margin: 0;
    overflow: hidden;
    height: 100vh;
    background-color: black;
}

.custom-progress{
    width: 55vh;
    margin-top: 1rem;
}

.title{
    color: white;
    text-align: center;
    margin-top: 0.5em;
}
.container:first-child{
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
}
.container:last-child{
    width: 50vh;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    padding-left: 2%;
}

.carta-box {
    border-radius: 5px;
    padding: 0;
    margin: 0;
    width: 80px;
    height: 80px;
    position: relative;
    perspective: 1000px;
    background-color: white;
  }
  
  /*.carta-box:hover .carta {
      transform: rotateY(180deg);
  }*/
  .carta.bloquear-elemento {
    pointer-events: none;
  }

  .carta {
    width: 100;
    height: 120px;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
    pointer-events: auto;
  }
  
  .cara {
    width: 100;
    height: 120px;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .cara.detras {
    width: 100;
    height: 120px;
    transform: rotateY(180deg);
  }

  
  img{
    border-radius: 5px;
  }

  .nombre{
    margin: 0 auto;
    margin-bottom: 3vh;
  }

  
.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  position: relative;
}


.info-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


.info-box p {
  margin: 0;
  font-weight: bold;
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  transform-origin: 50% 0; /* Centra la animación en la parte superior */
  background-color: #f00; /* Cambia el color del confeti según tus preferencias */
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  animation: confetti-fall 2s linear infinite;
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Centra horizontalmente */
}

@keyframes confetti-fall {
  0% {
      transform: translateY(0);
      opacity: 1;
  }
  100% {
      transform: translateY(100vh);
      opacity: 0;
  }
}

.confetti.active {
  animation: confetti-fall 2s linear infinite;
}
